<div class="cover-prairie-dog flex justify-center items-center w-screen h-screen max-w-full max-h-full" [style]="{
  backgroundSize: getBackgroundSize()
}">
  <div class="space-y-2 p-5 w-1/3 border rounded shadow bg-sky-100">
    <h1 class="mb-3 text-center text-lg font-bold">Coming Soon!</h1>
    <p>
      頁面正在努力趕工中
      @for(_ of [].constructor(count % 4);track $index) {
      .
      }
      {{ count % 2 ? '*(´ω｀*)' : '(*\'ω `)*' }}
    </p>
    <p>返回<a class="text-sky-500 font-bold" href="javascript:;">上一頁</a></p>
    <p>或回<a class="text-sky-500 font-bold" routerLink="/">首頁</a>逛逛吧～</p>
  </div>
</div>